@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Nummerplader.Models.NummerPladerModel

<div>

    <div>
        <form asp-action="Index"  asp-controller="NummerPlader" method="get">
            <input name="regnr" type="text" placeholder="Indtast Registerings nummer" />
            <input type="submit" />
        </form>
    </div>
    @if (Model != null)
    {
        <div>
            <p>@Model.Model</p>
        </div>
    }

</div>